
<div class="main">
    <Sidenav />
    <Navbar />
    <div class="blob_container">
        <Blob Label="About Me" ImageStyle="aboutmeimg" />
        <Blob Label="Projects" ImageStyle="projectsimg" />
        <Blob Label="Github" ImageStyle="githubimg" />
    </div>
</div>

@code {

}