.main ::deep {
    width: 100vw;
    height: 100vh;
    background: rgb(102,0,0);
    background: linear-gradient(90deg, rgba(102,0,0,1) 0%, rgba(0,35,102,1) 69%);
    overflow-x: hidden;
}

.blob_container ::deep {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.longboi ::deep {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(47vw, 80vh);
    color: #fff;
    font-size: 90px;
}
